<section class="pen" id="wrap">
  <header>
    <h1>Mentor Day</h1>
  </header>

  <div id="form">

  <div class="fish" id="fish"></div>
  <div class="fish" id="fish2"></div>

  <form id="waterform" action="/post" method="post" data-remote="true">

  <div class="formgroup" id="author-form">
      <label for="author">From*</label>
      <input type="text" id="author" name="author" />
  </div>

  <div class="formgroup" id="recipient-form">
      <label for="recipient">To*</label>
      <input type="text" id="recipient" name="recipient" />
  </div>

  <div class="formgroup" id="message-form">
      <label for="message">Message*</label>
      <textarea id="message" name="message"></textarea>
  </div>

    <input type="submit" value="Send your message!" />
  </form>
  </div>
</section>