<%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>
<body>
  <section class="intro">
    <div class="inner">
      <div class="content">
        <h1>Happy Mentor Day</h1>
        <a class="btn" href="<%= all_messages_path %>">Get Started</a>
      </div>
    </div>
  </section>
  <embed name="myMusic" loop="true" hidden="true" src="/perfect.mp3"></embed>
</body>
