<div class="bb-item" id=<%="item#{index}"%>>
  <div class="content">
    <div class="scroller">
      <h2><%= Post::DISPLAY_NAMES[mentor] %></h2>
      <div class="columns">
        <div class="column col-4">
          <%= image_tag "mentors/#{Post::IMAGES[mentor]}.jpg", class: 'img-responsive' %>
        </div>
        <div class="column col-8">
          <% Post.by_mentor(mentor).each do |post| %>
          <p><%= post.message %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>